
/*---
Popout
@group			UIComponents/Popout
@desc			...
@todo			Document
@author			Michael Ord
@tags			module
---

<div class="xx">
	<i aria-hidden="true" class="icon icon--info"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#info"></use></svg></i>
	<div class="popout">
		<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet vitae amet dolores blanditiis ullam tempore ratione aperiam, commodi corporis totam soluta natus id quibusdam aut aspernatur non deserunt error sint.</p>
	</div>
</div>

<div id="pop" class="popout">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet vitae amet dolores blanditiis ullam tempore ratione aperiam, commodi corporis totam soluta natus id quibusdam aut aspernatur non deserunt error sint.</p>
</div>
<p><a href="#pop">Popup</a> | <a href="#">Off</a></p>

*/
.popout
{
	$parent						: &;

	position					: relative;
	z-index						: 1000;
	background					: #fff;
	border-radius				: 4px;
	box-shadow					: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
	transform					: none;
	transform-origin			: 0 100%;
	will-change					: transform, opacity;
	transition-duration			: .25s;
	padding						: .8rem;
	transform					: rotate3d(1, 1, 0, 15deg);

	opacity						: 0;
	pointer-events				: none;
	visibility					: hidden;

	> *
	{
		&:first-child
		{
			margin-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
		}
	}

	&:before
	{
		content					: '';
		position				: absolute;
		bottom					: -6px;
		left					: calc(50% - 10px);
		width					: 20px;
		height					: 20px;
		transform				: rotate(45deg);
		border-radius			: 20px 0 3px 0;
		background				: #fff;
	}

	&:target,
	&.active
	{
		visibility				: visible;
		transform				: none;
		opacity					: 1;
		pointer-events			: auto;
	}
}
